<div>
  <h2>Carros</h2>
    <div class="table-responsive">
        <table class="table" mdbTable responsive="true" id= convehiculo>
            <thead class="grey lighten-1 black-text">
                <tr>
                    <th scope="col">Placa</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Fecha Entrada</th>
                    <th scope="col">Hora Entrada</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr mdbTableCol *ngFor="let vehiculo of vehiculos">
                    <td>{{vehiculo.placa  | uppercase}}</td>
                    <td>{{vehiculo.tipoVehiculo}}</td>
                    <td>{{vehiculo.fechaIngreso | date: 'dd/MM/yyyy'}}</td>
                    <td>{{vehiculo.fechaIngreso | date: 'HH:mm'}}</td>
                    <td>
                        <button  type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="salidaVehiculo(vehiculo)"> Liquidar Carro </button>
                    </td>
                </tr>
            </tbody>
        </table>          
    </div>
    <h2>Motos</h2>
    <div class="table-responsive">
            <table class="table" mdbTable responsive="true" id= convehiculo>
                <thead class="grey lighten-1 black-text">
                    <tr>
                        <th scope="col">Placa</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Cilindraje</th>
                        <th scope="col">Fecha Entrada</th>
                        <th scope="col">Hora Entrada</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol *ngFor="let vehiculo of vehiculosMoto">
                        <td>{{vehiculo.placa  | uppercase}}</td>
                        <td>{{vehiculo.tipoVehiculo}}</td>
                        <td>{{vehiculo.cilindraje}}</td>
                        <td>{{vehiculo.fechaIngreso | date: 'dd/MM/yyyy'}}</td>
                        <td>{{vehiculo.fechaIngreso | date: 'HH:mm'}}</td>
                        <td>
                            <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="salidaVehiculo(vehiculo)"> Liquidar Moto </button>
                        </td>
                    </tr>
                </tbody>
            </table>          
    </div>
</div>
