<div>
  <form>
      <div class="form-group">
        <label class="col-form-label">Placa</label>
        <input type="text" class="form-control" placeholder="Ingrese el nro de placa" name="placa" [(ngModel)]="vehiculo.placa"  />
      </div>
      <div class="form-group">
        <label class="col-form-label">Tipo Vehiculo</label>
        <select class="form-control" placeholder="Seleccione Tipo de Vehiculo" name="tipoVehiculo" [(ngModel)]="vehiculo.tipoVehiculo" >
            <option value="CARRO">CARRO</option>
            <option value="MOTO">MOTO</option>
        </select>
      </div>
      <div class="form-group" [hidden]="vehiculo.tipoVehiculo != 'MOTO'">
        <label class="col-form-label">Cilindraje</label>
        <input type="text" class="form-control" placeholder="Ingrese el cilindraje" name="cilindraje" [(ngModel)]="vehiculo.cilindraje" />
      </div>    
      <div class="form-group" [hidden]="true">
        <label class="col-form-label">Respuesta</label>
        <input type="text" class="form-control"  name="respuesta" [(ngModel)]="respuesta" />
      </div> 
      <button type="submit" class="btn btn-primary" id = "registrarbutton" (click)="registroVehiculo()">Ingresar Vehiculo</button>
      
   </form>
  
</div> 
